.container {
    border: 1px solid rgb(102, 119, 91);
    display: flex;
}

.inner-container {
    background-color: rgb(102, 119, 91);
    margin: .3em;
    text-align: center;
    color: rgb(159, 177, 147);
    font-size: 2vw;
    max-width: 70vw;
}

.ic1 {
    padding: 1em 1em 2em 1em;
}

.ic2 {
    padding: 1.3em 1em 4em 1em;
}

.ic3 {
    padding: 1em 1em 2.5em 1em;
}

.c1 {
    /* default; no need to specify. specifying only for studying purposes. */
    align-items: stretch;
}

.c2 {
    align-items: flex-start;
}

.c3 {
    align-items: flex-end;
}

.c4 {
    align-items: center;
}

.c5 {
    align-items: baseline;
}