li:hover {
    background-color: lightblue;
}

li:nth-last-child(4) {
    background-color: red;
}

li:empty {
    width: 100px;
    height: 20px;
    background-color: gray;
}

li:nth-child(even) {
    font-size: xx-large;
    font-weight: 500;
}