.ex1-position {
    top: 5%;
    border: 2px solid black;
    position: absolute;
    height: 250px;
    width: 20%;

}

#ex1-div1 {
    left: 4%;
}

#ex1-div2 {
    left: 28%;
}

#ex1-div3 {
    left: 52%;
}

#ex1-div4 {
    left: 76%;
}