@import 'variables';
//Set Font Color

@function set-font-color($color) {
    @if(lightness($color) > 50) {
        @return $dark-color;
    }

    @else {
        @return $light-color;
    }
}

//Transform mixin
@mixin transform($property) {
    transform: $property;

}

//Padding mixin
@mixin padding($values...) {
    @each $value in $values {
        padding: #{$value};

    }
}

//display mixin
@mixin dispaly($value) {
    @if($value) {
        visibility: visible;
    }

    @else {
        visibility: hidden;

    }
}